<div class="footer-container py-6 bg-dark text-light">
    <div class="contianer">
        <p class="text-center text-muted">
            &copy; Copyright 2023 Free Ecommerce API
        </p>
    </div>
</div>
